page-home {
    ion-grid{
        ion-col{
            height: 10vh;
            .championat-card{
                padding: 5px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
